.successBg {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-image: url('../../../images/鲁辩.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.result {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
  background: rgba(255, 255, 255, .4);
  backdrop-filter: blur(3px);
}

@media screen and (max-width: 960px) {
  .header {
    display: -webkit-flex;
    display: flex;
    margin-left: 10px;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .online {
    margin-top: 10%;
    width: 75%;
  }

  .QX {
    width: 55%;
    height: auto;
    margin-top: 4%;
    margin-left: 10px;
  }

  .result {
    margin-top: 15%;
  }

  .QXTitle {
    margin-top: 8%;
  }
}
